:root {


    font-family: 'Poppins', sans-serif;
    color: #333;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


body {
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4a90e2;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #357ABD;
}

ol {
    /* list-style-type: none; */
    padding: 0;
    width: 90%;
    margin: 0 auto;
    counter-reset: item;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.texto-tarea {
    width: 100%;
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;

}

.texto-tarea::first-letter {
    text-transform: uppercase;
}


li::before {
    counter-increment: item;
    content: counter(item) ". ";
    position: relative;
    left: 0;
    color: #4a90e2;
    font-weight: bold;
}

.tarea-completada {
    text-decoration: line-through;
    color: #999;
}

form button {
    background-color: #3c80e7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.boton-eliminar {
    margin: 10px;
    width: 60px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: 25px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.boton-editar {
    margin: 10px;
    width: 60px;
    background-color: #368b2b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: 25px; */
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

}



.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #929292ec;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    font-size: 16px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #929292ec transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.input-editar {


    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bb0000;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;


}